<html>
<head>
<title>TheHome</title>
<link href="css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
<script src="js/jquery-2.0.3.js"></script>
<script src="js/jquery-ui-1.10.3.custom.js"></script>
<script>
$( document ).ready(function() {
	<#if articles??>
		<#list articles as article>
			var hash = "${article.hash}";
			var data = JSON.stringify({
				title: "${article.title}",
				summary: "${article.summary}",
				link: "${article.link}",
				time: "${article.time}"
			});
			if (!localStorage.getItem(hash)) {
				localStorage.setItem(hash, data);
			}
		</#list>
	</#if>

	var item, obj;
	var arr = [];
	for( var i=0; i<localStorage.length; i++ ) {
		item = localStorage.getItem(localStorage.key(i));
		try {
			obj = JSON.parse(item);
		} catch(e) {
			console.log("parse error: " + e);
			// XXX next loop
			// XXX check undefined obj
		}
		obj.hash = localStorage.key(i);
		obj.time = obj.time ? parseInt(obj.time, 10) : Date.now();

		// remove hidden data which is old enough not to be in rss anymore
		var TOO_OLD = 3 * 24 * 60 * 60 * 1000; // 3 day
		if (obj.hide && obj.time < Date.now() - TOO_OLD ) {
			localStorage.removeItem(localStorage.key(i));
		}

		arr.push(obj);
	}	
	arr.sort(function(a, b){
		return b.time - a.time;
	});

	var prevId, position; 
	var LIMIT = 100;
	arr.forEach(function(o, i) {
		if( i < LIMIT && !o.hide ) {
			$("#contents").append('<div id="dialog' + o.hash + '" title="' + o.title + '">' + o.summary + "<br /><br />" + (new Date(o.time)).toLocaleString() + "</div>");

			if ( prevId ) {
				position = {
					my: 'center top+110',
					of: "#" + prevId,
					collision: 'fit none'
				};
			} else {
				position = {
					my: 'left+2% top+5%',
					at: 'left+2% top+5%',
					of: window,
					collision: 'fit none'
				};
			}

			closeFn = function(event, ui) {
				o.hide = true;
				localStorage.setItem(o.hash, JSON.stringify(o));
			};

			$( "#dialog" + o.hash ).dialog({
				width: 700,
				position: position,
				resizable: false,
				close: closeFn
			});
			prevId = "dialog" + o.hash;
		}
	});
});
</script>
</head>

<body>
	<div id=contents></div>
</body>
</html>
